#wrapper {
	margin: 20px 20px 0 20px;
	line-height: 1.5em;
}
.assignments {
	width: 65%;
	float: left;
}
.project {
	width: 65%;
	float: left;
	padding-top: 10px;
}

body {
	padding: 25px;
}
p, h1, h2, h3, dd, dl {
	margin-bottom: 1px;
	padding-bottom: 0px;
	margin-top: 1px;
	padding-top: 0px;
}

dt, dd {
	padding-left: 35px;
}

h1 {
	font-size: 26px;
	font-family: Trebuchet MS;
	font-weight: bold;
}
h2 {
	font-size: 20px;
	font-family: candara;
	color: #999;
}
h3 {
	font-weight: normal;
	margin-bottom: 10px;
}

a:link {
	color:#9058a8;
	text-decoration:none;
}
a:hover {
	color:#8560a8;
	text-decoration:underline;
}
a:visited {
	color:#268175;
	text-decoration:none;	
}