/*style sheet for Fungi Fun Facts*/

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	background-image: url("../images/light-grey-terrazzo.png");
	background-attachment: fixed;
}

.header-area {
	background-image: url("../images/header-image.jpg");
	width: 100%;
	height: 625px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header-area h1 {
	position: absolute;
	left: 17%;
  	bottom:15px;
	color: white;
	font-family: Trirong;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
}

.content-area {
	width: 1170px;
	margin: 0 auto;
	position: relative;
	/*background: #ebebeb;*/
}

.content-area h2 {
	padding-top: 50px;
	color: #E46717;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.content-area p {
	padding-top: 10px;
	line-height: 25px;
}

img {
	max-width: 100%;
	height: auto;
	margin: 50px 5px;
	border: 6px solid #263611;
	border-radius: 20px;
	padding: 4px;
}

.footer {
	width: 100%;
	height: 120px;
	padding-top: 30px;
	text-align: left;
	background-color: #181818;
	color: white;
}

.footer h3{
	padding-left: 100px;
}

.footer ul {
	list-style:none;
	padding-left: 100px;
}

a:link {
	color:#ec9051;
	text-decoration:none;
}

a:visited {
	color: #c4c454;
	text-decoration:none;
}

a:hover {
	color: #99c3af;
	text-decoration:none;
}